*{outline: 1px solid(255, 0, 0, 0.8);}
.hero-img{
	background: url("../img/background/hero.jpg")no-repeat;
	background-size: cover;
	width: 100%;
	max-height:100%;
	padding-bottom: 557px;
}
.hero{
	position: relative;
	top: 100px;
}
/* sheyla*#009999*/
.more{
	background-color:#f2f2f2;
}
.portafolio{
	background-color:#f2f2f2;
}



/* paola*/
.city-img{
	background: url("../img/background/city.jpg")no-repeat;
	background-size: cover;
	width: 100%;
	max-height:100%;
}
.city{
	padding-top:145px;
	padding-bottom: 199px;
}